* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.main-div {
  background-image: url(../images/backcover.svg);  
  background-position: bottom 1rem right;
  background-repeat: no-repeat
}

/* ------------------------------ */
/* ---------NAVBAR----------- */
/* ------------------------------ */

nav {
    width: 88%;
    margin-left: 8%;
    margin-right: 4%;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.nav-items {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: inline-block;
    margin: 1rem;
    font-size: 1rem;
}

.signin-btn {
    display: inline-block;
    padding: 0.1rem 2rem;
    color: #ffffff;
    border: none;
    border-radius: 1.5rem;
    background: linear-gradient(90deg,#965CF2, #EF88DB);

    
}

/* ------------------------------ */
/* ---------INTRO-SECTION----------- */
/* ------------------------------ */

.intro-section {
    width: 88%;
    margin-left: 8%;
    margin-right: 4%;
    display: flex;
}

.left-section {
    position: relative;
    top: 10rem;
}

.left-section h1 {
    font-family: 'Roboto' sans-serif;
    font-size: 5rem;
    color: #3E4794;

}

.left-section h4 {
    font-size: 1rem;
    color: #3B3F69;
    margin: 3rem 0;
    margin-right: 9rem;

}

.learn-more-btn {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    color: #ffffff;
    background: linear-gradient(90deg,#965CF2, #EF88DB);
    font-size: 1.5rem;
    border: none;
    border-radius: 1.5rem;
    margin-top: 3rem;
}

.imgs-div {
    position: relative;
    
}

.imgs-div img:first-child {
    position: absolute;
    top: 30rem;
    right: 44rem;
}

.imgs-div img:nth-child(3) {
    display: inline-block;
    position: relative;
    width: 40rem;
    right: 10rem;
}

.imgs-div img:nth-child(2) {
    display: inline-block;
    position: relative;
    right: 6rem;
    top: 30rem;
}



    /* ------------------------------------------------------- */
    /* ------------RESPONSIVE USING MEDIA QUERY--------------- */
    /* ------------------------------------------------------- */



    /* ----------LARGER-SCREEN------------ */


    @media screen and (max-width: 1080px) { 

        /* ----------INTRO-SECTION------------ */

        .main-div {
            background-image: url(../images/backcover.svg);  
            background-position: bottom right;
            background-repeat: no-repeat
          }

        .intro-section {
            width: 70%;
            margin-left: 20%;
            margin-right: 10%;
            display: flex;
            flex-direction:column-reverse;
        }

        /* ----------BUTTON------------ */
        .learn-more-btn {
            margin-top: 1rem;
            margin-bottom: 3rem;
            text-align: center
        }
       
    }



    /* ----------LARGE-SCREEN------------ */


    @media screen and (max-width: 900px) {


        /* ---------INTRO-SECTION---------- */

        .intro-section {
            width: 88%;
            margin-left: 8%;
            margin-right: 0;
            display: flex;
        }

         /* ---------NAV-SECTION---------- */

        nav {
              flex-direction: column;
              text-align: center;
          
        }
        nav img {
            display: inline-block;
            width: 10rem;
            text-align: center;
        }

        .nav-items {
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin: 1.5rem 0;
        }

        .nav-item {
            display: inline-block;
            margin: 0.5rem;
            font-size: 1rem;
        }


        .signin-btn {
            width: 8rem;
            margin: 0.5 auto;           
            padding: 1rem 2rem;            
        }

         /* ---------LEFT-INTRO-SECTION---------- */

        .left-section h1 {
            font-family: 'Roboto' sans-serif;
            font-size: 3rem;
            color: #3E4794;
        
        }
        
        .left-section h4 {
            font-size: 1rem;
            color: #3B3F69;
            margin: 3rem 0;
            margin-right:0;
            text-align: center;
        
        }
        
        .learn-more-btn {
            padding: 0.7rem 1.5rem;
            font-size: 1rem;
            margin-top: 1rem;
            margin-bottom: 3rem;
            text-align: center
        }

        .left-section {
            text-align: center
        }

       

    }


/* ----------MEDIUM-SCREEN------------ */

    @media screen and (max-width: 640px) {


         /* ---------RIGHT-INTRO-SECTION---------- */

        .imgs-div {
            width: 30rem;
            overflow: hidden;
            
        }
        
         /* ---------LEFT-INTRO-SECTION---------- */
        
        .left-section h1 {
            font-family: 'Roboto' sans-serif;
            font-size: 3rem;
            color: #3E4794;
            text-align: center;
        
        }
        
        .left-section h4 {
            font-size: 1rem;
            color: #3B3F69;
            margin: 3rem 0;
            text-align: center;
        
        }
     


    }